.Chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.Message {
  padding: 6px;
  width: 80%;

  border-radius: 0px  16px 16px 16px;
  font-size: 14px;
  background: #7efce7;

  &[data-role="user"] {
    border-radius: 16px 0px 16px 16px;
    width: 75%;
    padding: 6px;
    align-self: flex-end;
    background: #f3f3f3;
  }
}

.App {
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:auto ;
  margin-right: auto;
  gap: 16px;
  width: 60%;
  height: 80%;
  padding: 16px;
}

.Header {
  text-align: center;
}

.Logo {
  width: 64px;
  height: 64px;
}

.Title {
  margin: 0;
}

.ChatContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
  width: 100%;
  background: #aef6ff;
  border-radius: 16px;
  overflow-y: auto;
}
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

   color-scheme: light dark; 
  color: #0d0d0d;
  background: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .App { width: 90%;
  margin-left: auto;
margin-right: auto;}
.Title {
  font-size: medium;
}
}